<link rel="stylesheet" href="/stylesheets/help.css">
<div class="container">
    <br />
    <br />
    <br />
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        If you cannot find an answer to your question, please feel free to contact me.
    </div>
    <br />
    <div class="" id="accordion">
        <div class="faqHeader"><h2>General Questions</h2></div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How does the GRE Verbal Prep web application work?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    The <b>GRE Verbal Prep</b> web application is a tool for your complete Vocabulary Building journey.
                    As and when you learn new words, add them in the <b>Learn</b> category.
                    After learning a few words, go on to the <b>Revise</b> category to check whether you can recall their meanings,
                    and / or illustrations.
                    For more information, please check the individual <b>Page Descriptions</b> given below.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Can I type a meaning / illustration in my native language?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="card-block">
                    Yes. For ease in understanding new words, capability of adding various non-English languages in the meaning /
                     illustration section has been provided.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Which dictionary has been used on the <b>Dictionary</b> page?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="card-block">
                    The <b>Dictionary</b> Page is integrated with Webster's dictionary.
                </div>
            </div>
        </div>
        <br>
        <div class="faqHeader"><h2>Page Descriptions</h2></div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Revise</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="card-block">
                    From the learned words, a word is chosen at random and queried to the user: to check whether he /
                    she can recall its meaning and / or illustration(s).
                    <br>
                    <br>
                    <strong>NOTE:</strong> This page is available only after you have learned <b>at least one</b> word.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Directory</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card-block">
                    The <b>Directory</b> Page contains all the words you (the user) have learned so far.
                    <br>
                    <br>
                    If a learned word is to be removed, please choose the <b>Delete</b> action for the corresponding word.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Learn</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="card-block">
                    As you learn a new word, add it to your <b>Directory</b> from here, along with its meaning and / or illustration.
                    <br />
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Dictionary</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="card-block">
                    If you come across a new word, you can type the word here and get its definition.
                    <br>
                    (Word Illustrations coming soon!)
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Help</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="card-block">
                    If you had to open this, should you really be studying for GRE?
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Contact Me</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    For feedback or, as stated above, in case the <b>Help</b> section could not resolve your queries, please feel free to write to me
                    via the <b>Contact Me</b> section.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Donate</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="card-block">
                    As I am an undergraduate student and the project is still under development, it requires resources:
                     hosting, and otherwise. A single transaction is worth 5 <b>USD</b>, via PayPal.
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>


<script>
    document.getElementById('help').classList.add('active')
</script>